.add-balance
  &__input
    width: 50%
    font-size: 2rem
    text-align: center
  &__loader
    position: unset
    margin-top: 5rem
    &>.lds-ring
      & div
        border: 8px solid #645f7e
        border-color: #645f7e transparent transparent transparent