.admin
  &__nav
    display: flex
    align-items: center
    margin: 1rem 0 2rem
    &-item
      position: relative
      font-size: 2rem
      margin-right: 2.5rem
      color: $yellow
      opacity: 0.6
      transition: 0.2s
      cursor: pointer
      &::after
        content: ''
        position: absolute
        bottom: -7px 
        left: 0
        width: 100%
        height: 3px
        background-color: $yellow
        transition: 0.2s
        transform: scale(0)
      &--active
        opacity: 1
        &::after
          transform: scale(1)

.admin-auth
  display: flex
  align-items: center
  justify-content: center
  height: 100vh
  &__form
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
  &__title
    margin-bottom: 2rem
    font-size: 3rem
    color: $yellow
  &__input
    width: 25rem 
    margin-bottom: 2rem
    font-size: 2rem
    color: $yellow
    border-color: $yellow
    transition: 0.2s
    &--error
      border-color: red
  &__btn
    color: $yellow
    border-color: $yellow