.tasks-nav
  &__tab
    margin-top: 1.5rem
    margin-right: 0.5rem
    font-size: 1.2rem
    background-color: transparent
    border: none
    color: rgba($yellow, 160)
    cursor: pointer
    transition: 0.2s
    &:hover
      color: $yellow